<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- Size of write and send buffers. Possible suffixes: none, k, M. -->
    <add key="BufferSize" value="20M"/>    
    <!-- Relevant only for sending side. Key defiend means option enabled. -->
    <add key="RandomData" />
    <!-- How long the client will work. Nothing or 0 means unlimited. -->
    <add key="ClientTime" value="5"/>
  </appSettings>
</configuration>